/* [project]/src/app/geistsans_9fc57718.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_9fc57718-module__5N2VMq__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_9fc57718-module__5N2VMq__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/src/app/geistsans_9fc57718.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_9fc57718-module__5N2VMq__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_9fc57718-module__5N2VMq__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/src/app/geistmono_b9f59162.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_b9f59162-module__Or8qSa__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_b9f59162-module__Or8qSa__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/src/app/geistmono_b9f59162.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_b9f59162-module__Or8qSa__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_b9f59162-module__Or8qSa__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*# sourceMappingURL=src_app_c7d265._.css.map*/
